################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/csirreact.client/.vscode
/src/csirreact.client/obj/Debug
/src/CSIRReact.Server/bin/Debug/net8.0
/src/CSIRReact.Server/obj/Debug/net8.0
/.vs/csir-demo/v17/.wsuo
/.vs/csir-demo/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/src/CSIRReact.Server/obj/CSIRReact.Server.csproj.nuget.dgspec.json
/src/CSIRReact.Server/obj/CSIRReact.Server.csproj.nuget.g.props
/src/CSIRReact.Server/obj/CSIRReact.Server.csproj.nuget.g.targets
/src/CSIRReact.Server/obj/project.assets.json
/src/CSIRReact.Server/obj/project.nuget.cache
/src/CSIRReact.DataAccess/obj/CSIRReact.DataAccess.csproj.nuget.dgspec.json
/src/CSIRReact.DataAccess/obj/CSIRReact.DataAccess.csproj.nuget.g.props
/src/CSIRReact.DataAccess/obj/CSIRReact.DataAccess.csproj.nuget.g.targets
/src/CSIRReact.DataAccess/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/CSIRReact.DataAccess/obj/Debug/net8.0/CSIRReact.DataAccess.AssemblyInfo.cs
/src/CSIRReact.DataAccess/obj/Debug/net8.0/CSIRReact.DataAccess.AssemblyInfoInputs.cache
/src/CSIRReact.DataAccess/obj/Debug/net8.0/CSIRReact.DataAccess.assets.cache
/src/CSIRReact.DataAccess/obj/Debug/net8.0/CSIRReact.DataAccess.csproj.AssemblyReference.cache
/src/CSIRReact.DataAccess/obj/Debug/net8.0/CSIRReact.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/src/CSIRReact.DataAccess/obj/Debug/net8.0/CSIRReact.DataAccess.GlobalUsings.g.cs
/src/CSIRReact.DataAccess/obj/project.assets.json
/src/CSIRReact.DataAccess/obj/project.nuget.cache
/src/CSIRReact.Logic/obj/CSIRReact.Logic.csproj.nuget.dgspec.json
/src/CSIRReact.Logic/obj/CSIRReact.Logic.csproj.nuget.g.props
/src/CSIRReact.Logic/obj/CSIRReact.Logic.csproj.nuget.g.targets
/src/CSIRReact.Logic/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/CSIRReact.Logic/obj/Debug/net8.0/CSIRReact.Logic.AssemblyInfo.cs
/src/CSIRReact.Logic/obj/Debug/net8.0/CSIRReact.Logic.AssemblyInfoInputs.cache
/src/CSIRReact.Logic/obj/Debug/net8.0/CSIRReact.Logic.assets.cache
/src/CSIRReact.Logic/obj/Debug/net8.0/CSIRReact.Logic.csproj.AssemblyReference.cache
/src/CSIRReact.Logic/obj/Debug/net8.0/CSIRReact.Logic.GeneratedMSBuildEditorConfig.editorconfig
/src/CSIRReact.Logic/obj/Debug/net8.0/CSIRReact.Logic.GlobalUsings.g.cs
/src/CSIRReact.Logic/obj/project.assets.json
/src/CSIRReact.Logic/obj/project.nuget.cache
/src/CSIRReact.Server.Test/obj/CSIRReact.Server.Test.csproj.nuget.dgspec.json
/src/CSIRReact.Server.Test/obj/CSIRReact.Server.Test.csproj.nuget.g.props
/src/CSIRReact.Server.Test/obj/CSIRReact.Server.Test.csproj.nuget.g.targets
/src/CSIRReact.Server.Test/obj/project.assets.json
/src/CSIRReact.Server.Test/obj/project.nuget.cache
