################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/csirreact.client/.vscode
/src/csirreact.client/obj/Debug
/src/CSIRReact.Server/bin/Debug/net8.0
/src/CSIRReact.Server/obj/Debug/net8.0
/.vs/csir-demo.slnx/v18
